// Place all the styles related to the gift_ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-margin
{
	margin-left: 15px;
	@media (min-width: $screen-sm-min)
	{
		margin-left: 9px;
	}
}

label
{
	@extend .control-label;
	@extend .col-xs-1;
}

.text_field
{
	@extend .col-md-11;
}

input:not([type=submit]):not([type=file]), textarea
{
	@extend .form-control;
}
