<polymer-element name="wishes-index" attributes="url">
	<template>
		<link rel="stylesheet" href="wishes-index.css" />

		<table class="table">
			<tr>
				<th class="wish-name-column">
					Name
				</th>
				<th class="wish-description-column">
					Description
				</th>
				<th class="wish-edit-button-column">
				</th>
				<th class="wish-delete-button-column">
				</th>
			</tr>
			<tr template repeat="{{ wish in wishes }}">
				<td>
					<a _href="{{ wish.url }}" class="primary-button"
							   target="_blank">
						{{ wish.name }}
					</a>
				</td>
				<td>
					<p>
					{{ wish.description }}
					</p>
				</td>
				<td>
					<edit-wish wish="{{ wish }}"></edit-wish>
				</td>
				<td>
					<delete-wish wish="{{ wish }}"></delete-wish>
				</td>
			</tr>
		</table>
	</template>

	<script src="wishes-index.js"></script>
</polymer-element>
